<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body th:fragment="about-section">
<div class="px-4 py-5 text-center">
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Thành lập năm 2019, Công ty TNHH Thương Mại Dịch Vụ Vận Tải Duy Nhân là một Forwarding cung
            cấp tất cả dịch vụ Cước vận tải, Khai báo Hải Quan, Logistics nội địa và quốc tế. <br /> Ngoài ra, chúng tôi cũng
            là một nhà cung ứng thực phẩm, thịt đông lạnh nhập khẩu uy tín hàng đầu.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="#gui-bao-gia"><button type="button" class="btn btn-primary btn-lg px-4 me-sm-3 mr-2 wow swing">Gửi báo giá</button></a>
            <a href="#lien-he"><button type="button" class="btn btn-outline-secondary btn-lg px-4 ml-2">Liên hệ</button></a>
        </div>
    </div>
</div>

</body>
</html>