<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body th:fragment="about-section">
<div class="intro">
    <div class="animated-bar"></div>

    <div class="slide slide-a">
        <div class="slide-content">
            <p class="slide-a-child" style="color: #2b2b2b" th:utext="#{intro.anim.slide1.one}"></p>
            <h2 class="slide-a-child" style="color: #fff" th:utext="#{intro.anim.slide1.two}"></h2>
            <p class="slide-a-child" style="color: #2b2b2b" th:utext="#{intro.anim.slide1.three}"></p>
        </div>
    </div>

    <div class="slide slide-b">
        <div class="slide-content">
            <h2 class="slide-b-child" th:utext="#{intro.anim.slide2.one}"></h2>
            <p class="slide-b-child" th:utext="#{intro.anim.slide2.two}"></p>
            <p class="slide-b-child" th:utext="#{intro.anim.slide2.three}"></p>
        </div>
    </div>

    <div class="slide slide-c">
        <div class="slide-content">
            <h2 class="slide-c-child" style="color: #77b4e6" th:text="#{intro.anim.slide3.one}"></h2>
            <ul>
                <li class="slide-c-child"><p th:utext="#{intro.anim.slide3.two}"></p></li>
                <li class="slide-c-child"><p th:utext="#{intro.anim.slide3.three}"></p></li>
                <li class="slide-c-child"><p th:utext="#{intro.anim.slide3.four}"></p></li>
                <li class="slide-c-child"><p th:utext="#{intro.anim.slide3.five}"></p></li>
                <li class="slide-c-child"><p th:utext="#{intro.anim.slide3.six}"></p></li>
            </ul>
        </div>
    </div>

    <div class="slide slide-d">
        <div class="slide-content">
            <h2 class="slide-d-child" th:utext="#{intro.line.four}"></h2>
            <p class="slide-d-child" th:utext="#{intro.anim.slide4.two}"></p>
            <button class="slide-d-child replay"><span th:text="#{intro.anim.slide4.three}"></span></button>
        </div>
    </div>

</div>

<div class="px-4 py-5 text-center">
    <div class="col-lg-12 mx-auto">
        <p class="mb-4 font-weight-bold" style="text-align: center" th:utext="#{intro.line.one}"></p>

        <p class="mb-4 font-weight-bold" style="text-align: center" th:utext="#{intro.line.two}"></p>

        <p class="mb-4 font-weight-bold" style="text-align: center" th:utext="#{intro.line.three}"></p>

        <p class="mb-4 font-weight-bold" style="text-align: center" th:utext="#{intro.line.four}"></p>

    </div>
</div>

</body>
</html>