<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="footer">
</head>
<body>
<footer class="row footer-distributed align-content-center" id="lien-he">

    <div class="footer-left col-12 col-lg-4 col-md-4 col-sm-12">
        <p class="footer-company-about">
            <span>Kênh liên hệ</span>
            Với mong muốn được phục vụ các khách hàng ngày càng chu đáo hơn, chúng tôi luôn sẵn sàng tiếp nhận và biết ơn mọi sự góp ý của khách hàng để ngày một hoàn thiện hơn.
        </p>

        <div class="footer-icons">

            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="skype:ainha3110?chat"><i class="fa fa-skype"></i></a>
            <a href="#"><i class="fa fa-phone"></i></a>

        </div>

        <p class="footer-company-name" style="color: #fff">DN Logistis © 2021</p>

    </div>

    <div class="footer-center col-12 col-lg-4 col-md-4 col-sm-12">

        <div>
            <i class="fa fa-map-marker"></i>
            <p style="font-size: 14px;"><span>17/13 Đường 51, Phường Hiệp Bình Chánh</span> Quận Thủ Đức, Thành phố Hồ Chí Minh, Việt Nam</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p><a href="tel:0906768646">+84 906768646 (Mr. Nha)</a></p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com">nguyennha@dnlogistics.vn</a></p>
        </div>

    </div>

    <div class="footer-right col-12 col-lg-4 col-md-4 col-sm-12">

        <h3>Thông tin <span>Đăng ký</span></h3>

        <form action="#" th:action="@{/dang-ky}" th:object="${emailInfo}" method="post">

			<div class="form-group">
            <input class="form-control"  th:field="*{email}" type="text" name="email" placeholder="Email" required />
            </div>
           
            <input type="submit" class="btn btn-light" value="Đăng ký" />

        </form>

    </div>

</footer>
</body>
</html>