<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body th:fragment="form-email-section">

<div class="mt-5 mb-5 text-center">
    <h1 class="display-5 fw-bold"><span th:text="#{form.title}"></span></h1>
</div>

    <div class="contact row justify-content-center">
        <div class="col-md-5 col-sm-10">
            <div class="form-area">
                <form action="#" th:action="@{/gui-bao-gia}" th:object="${userInfo}" method="post">
                    <div class="group form-group">
                        <input type="text" th:field="*{name}" class="form-control" id="name" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label th:text="#{form.name}"></label>
                    </div>
                    <div class="group form-group">
                        <input type="text" th:field="*{email}" class="form-control" id="email" pattern="^\S+@\S+$" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Email</label>
                    </div>
                    <div class="form-group group">
                        <input type="text" th:field="*{phone}" class="form-control" id="phone" name="phone" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label th:text="#{form.phone}"></label>
                    </div>
                    <div class="form-group group">
                        <div class="text-group">
                            <textarea id="textarea-msg" th:field="*{message}" required="required" class="form-control " rows="6"></textarea>
                            <label for="textarea-msg" class="input-label" th:text="#{form.msg}"></label><i class="bar"></i>
                        </div>
                    </div>
                    <input type="submit" id="submit" name="submit" th:value="#{form.send}" class="btn btn-primary col-md-12 mb-5" />
                </form>
            </div>
        </div>


        <div class="col-md-5 col-sm-10">
            <div th:switch="${sendUserInfoResult}">
                <h1 th:case="2000" class="align-content-center text-success" th:text="#{form.notify.success}"></h1>
                <h1 th:case="1001" class="align-content-center text-warning" th:text="#{form.notify.bad-format}"></h1>
                <h1 th:case="1002" class="align-content-center text-warning" th:text="#{form.notify.error}"></h1>
                <h1 th:case="*" class="align-content-center" th:text="#{form.right.title}"></h1>
            </div>
            <p class="lead align-content-center" th:utext="#{form.right.content}"></p>
        </div>
    </div>

</body>
</html>