<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body th:fragment="service-full-section">

<div class="sv-container mt-2 mb-2">
<!--<div class="mt-1 text-center">-->
<!--    <h1 class="display-5 fw-bold" th:utext="#{section.title.service}"></h1>-->
<!--</div>-->

<div class="row justify-content-center">
    <div class="col-md-10 mt-2">
        <div class="card">
            <div class="card-horizontal">
                <div class="card-body">
                    <h4 class="card-title do" style="text-align: center;"><span th:utext="#{section.service.one.prefix}"></span> <span th:utext="#{section.service.one.suffix}"></span>
                    </h4>
                    <p class="card-text" style="color:#272727;" th:utext="#{section.service.one.content.less}">
                        <p class="card-text" style="color:#272727;" th:utext="#{section.service.one.content.more}"></p>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-10 mt-2">
        <div class="card">
            <div class="card-horizontal">
                <div class="card-body">
                    <h4 class="card-title xanh" style="text-align: center;"><span th:utext="#{section.service.two.prefix}"></span> <span th:utext="#{section.service.two.suffix}"></span>
                    </h4>
                    <p class="card-text" style="color:#272727" th:utext="#{section.service.two.content.less}">
                        <p class="card-text" style="color:#272727;" th:utext="#{section.service.two.content.more}">
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-10 mt-2">
        <div class="card">
            <div class="card-horizontal">
                <div class="card-body">
                    <h4 class="card-title do" style="text-align: center;"><span th:utext="#{section.service.three.prefix}"></span> <span th:utext="#{section.service.three.suffix}"></span>
                    </h4>
                    <p class="card-text" style="color:#272727" th:utext="#{section.service.three.content.less}">
                        <p class="card-text" style="color:#272727;" th:utext="#{section.service.three.content.more}">
                        </p>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-10 mt-2">
        <div class="card">
            <div class="card-horizontal">
                <div class="card-body">
                    <h4 class="card-title xanh" style="text-align: center;"><span th:utext="#{section.service.four.prefix}"></span> <span th:utext="#{section.service.four.suffix}"></span>
                    </h4>
                    <p class="card-text" style="color:#272727" th:utext="#{section.service.four.content.less}">
                        <p class="card-text" style="color:#272727;" th:utext="#{section.service.four.content.more}">
                        </p>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-10 mt-2">
        <div class="card">
            <div class="card-horizontal">
                <div class="card-body">
                    <h4 class="card-title do" style="text-align: center;"><span th:utext="#{section.service.five.prefix}"></span> <span th:utext="#{section.service.five.suffix}"></span>
                    </h4>
                    <p class="card-text" style="color:#272727" th:utext="#{section.service.five.content.less}">
                        <p class="card-text" style="color:#272727;" th:utext="#{section.service.five.content.more}">
                        </p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
</body>
</html>