<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body th:fragment="service-section">
	<div class="row justify-content-center mt-3">
		<div class="col-md-10 mt-2">
			<div class="card">
				<div class="card-horizontal">
					<div class="img-square-wrapper">
						<img class="card-img" 
							width="300px" 
							height="180px"
							th:src="@{/assets/pd.png}"
							alt="Thủ tục hải quan">
					</div>
					<div class="card-body">
						<h4 class="card-title"><span style="color:#0FB3F2">THỦ TỤC</span> <span style="color:#CF3835">HẢI QUAN</span></h4>
						<p class="card-text" style="color:#272727">Cung cấp dịch vụ khai Hải quan cho tất cả mặt hàng được cấp phép xuất nhập khẩu. Đặc biệt lợi thế trong các mặt hàng: Hoá chất, phụ gia thực phẩm, thực phẩm, thiết bị, máy móc công nghệ cao.</p>
						<a th:href="@{/service}"><small class="text-muted">Xem thêm</small></a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-10 mt-2">
			<div class="card">
				<div class="card-horizontal">
					<div class="card-body">
						<h4 class="card-title"><span style="color:#0FB3F2">VẬN TẢI</span> <span style="color:#CF3835">ĐƯỜNG BIỂN</span></h4>
						<p class="card-text" style="color:#272727">Vận tải đường biển là một trong những khâu quan trọng trong quá trình vận tải đa phương thức. Để cung cấp cho khách hàng dịch vụ tốt nhất, Duy Nhân phụ trách cả 2 mảng FCL và FCL.</p>
						<a th:href="@{/service}"><small class="text-muted">Xem thêm</small></a>
					</div>
					<div class="img-square-wrapper">
						<img class="card-img" 
							width="300px" 
							height="180px"
							th:src="@{/assets/st.png}"
							alt="Thủ tục hải quan">
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-10 mt-2">
			<div class="card">
				<div class="card-horizontal">
					<div class="img-square-wrapper">
						<img class="card-img" 
							th:src="@{/assets/plane.png}"
							alt="Thủ tục hải quan">
					</div>
					<div class="card-body">
						<h4 class="card-title"><span style="color:#0FB3F2">VẬN TẢI</span> <span style="color:#CF3835">ĐƯỜNG HÀNG KHÔNG</span></h4>
						<p class="card-text" style="color:#272727">Vận tải hàng không là lựa chọn hàng đầu đối với những lô hàng gấp, có khối lượng nhỏ bởi tính ưu việt trong thời gian vận chuyển.</p>
						<a th:href="@{/service}"><small class="text-muted">Xem thêm</small></a>
					</div>
				</div>
			</div>
		</div>
				
		<div class="col-md-10 mt-2">
			<div class="card">
				<div class="card-horizontal">
					<div class="card-body">
						<h4 class="card-title"><span style="color:#0FB3F2">VẬN TẢI</span> <span style="color:#CF3835">TRUCKING NỘI ĐỊA</span></h4>
						<p class="card-text" style="color:#272727">Hầu hết chuỗi vận tải hoàn chỉnh đều bao gồm vận tải nội địa ở hai đầu nước xuất khẩu và nhập khẩu. Duy Nhân tích hợp cả hai dịch vụ vận tải và logistics, trong đó bao gồm cả vận tải nội địa.</p>
						<a th:href="@{/service}"><small class="text-muted">Xem thêm</small></a>
					</div>
					<div class="img-square-wrapper">
						<img class="card-img" 
							width="300px" 
							height="180px"
							th:src="@{/assets/truck.png}"
							alt="Thủ tục hải quan">
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-10 mt-2">
			<div class="card">
				<div class="card-horizontal">
					<div class="img-square-wrapper">
						<img class="card-img" 
							width="300px" 
							height="180px"
							th:src="@{/assets/ft.png}"
							alt="Thủ tục hải quan">
					</div>
					<div class="card-body">
						<h4 class="card-title"><span style="color:#0FB3F2">NHẬP KHẨU</span> <span style="color:#CF3835">THỰC PHẨM</span></h4>
						<p class="card-text" style="color:#272727">Bằng đội ngũ nhân viên trẻ được đào tạo chuyên nghiệp, năng động đã có những bước phát triển không ngừng trong việc cung cấp các mặt hàng thực phẩm đông lạnh nhập khẩu tốt nhất, sạch nhất đến tận tay người tiêu dùng với các nhóm sản phẩm chính: Thịt bò, thịt heo, thịt gà...</p>
						<a th:href="@{/service}"><small class="text-muted">Xem thêm</small></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>