<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body th:fragment="service-section">
<div class="px-4 py-5 text-center">
    <h1 class="display-5 fw-bold" th:utext="#{section.title.intro}"></h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4" th:utext="#{section.intro.content}"></p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="#gui-bao-gia"><button type="button" class="btn btn-primary btn-lg px-4 me-sm-3 mr-2 wow swing" data-wow-iteration="5" th:text="#{section.intro.btn.send-form}"></button></a>
            <a href="#lien-he"><button type="button" class="btn btn-outline-secondary btn-lg px-4 ml-2" th:text="#{section.intro.btn.contact}"></button></a>
        </div>
    </div>
</div>

<div class="sv-container">
<div class="mt-1 text-center">
    <h1 class="display-5 fw-bold" th:utext="#{section.title.service}"></h1>
</div>

<div class="row justify-content-center">
    <div class="col-md-10 mt-2">
        <div class="card">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="card-img"
                         width="300px"
                         height="180px"
                         th:src="@{/assets/pd.png}"
                         alt="Thủ tục hải quan">
                </div>
                <div class="card-body">
                    <h4 class="card-title wow fadeInRight"><span style="color:#0FB3F2" th:utext="#{section.service.one.prefix}"></span> <span style="color:#CF3835" th:utext="#{section.service.one.suffix}"></span>
                    </h4>
                    <p class="card-text" style="color:#272727;" th:utext="#{section.service.one.content.less}">
                        <p class="card-text collapse" id="service-1" style="color:#272727;" th:utext="#{section.service.one.content.more}"></p>
                    </p>
                    <a class="collapsed" data-toggle="collapse" href="#service-1" role="button" aria-expanded="false" aria-controls="service-1"><small class="text-muted more">Xem thêm</small><small class="text-muted less">Thu gọn</small></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-10 mt-2">
        <div class="card">
            <div class="card-horizontal">
                <div class="card-body">
                    <h4 class="card-title wow fadeInLeft"><span style="color:#0FB3F2" th:utext="#{section.service.one.prefix}"></span> <span style="color:#CF3835" th:utext="#{section.service.two.suffix}"></span>
                    </h4>
                    <p class="card-text" style="color:#272727" th:utext="#{section.service.two.content.less}">
                        <p class="card-text collapse" id="service-2" style="color:#272727;" th:utext="#{section.service.two.content.more}">
                    </p>
                    <a class="collapsed" data-toggle="collapse" href="#service-2" role="button" aria-expanded="false" aria-controls="service-1"><small class="text-muted more">Xem thêm</small><small class="text-muted less">Thu gọn</small></a>
                </div>
                <div class="img-square-wrapper">
                    <img class="card-img"
                         width="300px"
                         height="180px"
                         th:src="@{/assets/st.png}"
                         alt="Vận tải đường biển">
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-10 mt-2">
        <div class="card">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="card-img"
                         th:src="@{/assets/plane.png}"
                         alt="Vận tải hàng không">
                </div>
                <div class="card-body">
                    <h4 class="card-title wow fadeInRight"><span style="color:#0FB3F2" th:utext="#{section.service.one.prefix}"></span> <span style="color:#CF3835" th:utext="#{section.service.three.suffix}"></span>
                    </h4>
                    <p class="card-text" style="color:#272727" th:utext="#{section.service.three.content.less}">
                        <p class="card-text collapse" id="service-3" style="color:#272727;" th:utext="#{section.service.three.content.more}">
                        </p>
                    </p>
                    <a class="collapsed" data-toggle="collapse" href="#service-3" role="button" aria-expanded="false" aria-controls="service-3"><small class="text-muted more">Xem thêm</small><small class="text-muted less">Thu gọn</small></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-10 mt-2">
        <div class="card">
            <div class="card-horizontal">
                <div class="card-body">
                    <h4 class="card-title wow fadeInLeft"><span style="color:#0FB3F2" th:utext="#{section.service.one.prefix}"></span> <span style="color:#CF3835" th:utext="#{section.service.four.suffix}"></span>
                    </h4>
                    <p class="card-text" style="color:#272727" th:utext="#{section.service.four.content.less}">
                        <p class="card-text collapse" id="service-4" style="color:#272727;" th:utext="#{section.service.four.content.more}">
                        </p>
                    </p>
                   <a class="collapsed" data-toggle="collapse" href="#service-4" role="button" aria-expanded="false" aria-controls="service-5"><small class="text-muted more">Xem thêm</small><small class="text-muted less">Thu gọn</small></a>
                </div>
                <div class="img-square-wrapper">
                    <img class="card-img"
                         width="300px"
                         height="180px"
                         th:src="@{/assets/truck.png}"
                         alt="Vận tải trunking nội địa">
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-10 mt-2" id="gui-bao-gia">
        <div class="card">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="card-img"
                         width="300px"
                         height="180px"
                         th:src="@{/assets/ft.png}"
                         alt="Nhập khẩu thực phẩm">
                </div>
                <div class="card-body">
                    <h4 class="card-title wow fadeInRight"><span style="color:#0FB3F2" th:utext="#{section.service.five.prefix}"></span> <span style="color:#CF3835" th:utext="#{section.service.five.suffix}"></span>
                    </h4>
                    <p class="card-text" style="color:#272727" th:utext="#{section.service.five.content.less}">
                        <p class="card-text collapse" id="service-5" style="color:#272727;" th:utext="#{section.service.five.content.more}">
                        </p>
                    </p>
                    <a class="collapsed" data-toggle="collapse" href="#service-5" role="button" aria-expanded="false" aria-controls="service-5"><small class="text-muted more">Xem thêm</small><small class="text-muted less">Thu gọn</small></a>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
</body>
</html>