<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Duy Nhan Logisticsasdfasf1231231231231</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/fast.png}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/section.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/animate.min.css}">
</head>

<body>

<div th:if="${sendUserInfoResult != null}">
    <script>
        window.location.href = "#gui-bao-gia";
    </script>
</div>

<div th:if='${"2000" == sendEmailInfoResult}'>
    <script>
        alert("Đăng ký email thành công!")
    </script>
</div>

<div th:if='${sendEmailInfoResult != null && "2000" != sendEmailInfoResult}'>
    <script>
        alert("Đăng ký email thất bại!")
    </script>
</div>

<header th:insert="fragments/header.html :: header"> </header>

<div class="container" th:insert="fragments/slide.html :: slide"> </div>

<div class="container-fluid" th:insert="fragments/service-section.html :: service-section"> </div>

<div class="container-fluid" th:insert="fragments/form-email-section.html :: form-email-section"> </div>

<footer th:insert="fragments/footer.html :: footer"> </footer>

<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/header.js}"></script>
<script th:src="@{/js/slide.js}"></script>
<script th:src="@{/js/wow.min.js}"></script>

</body>

</html>